//font sizes
$size4: 4;
$size5: 5;
$size6: 6;
$size7: 7;
$size8: 8;
$size9: 9;
$size10: 10;
$size11: 11;
$size12: 12;
$size13: 13;
$size14: 14;
$size15: 15;
$size16: 16;
$size17: 17;
$size18: 18;
$size19: 19;
$size20: 20;

//font-families
$header-list-font: "Nitti Grotesk","Federo",Helvetica,Arial,sans-serif;
$textContent-font: 'Dosis', sans-serif;


//colors
$textColor: #000000;
$mainFont-color: #222222;
$white: #FFFFFF;